.course{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 26px;
}
.course-containe{
    display: flex;
}
.course-containe img{
    width: 177px;
    height: 117px;
}
.course-info{
    margin-left: 16px;
}
.course-title{
    font-size: 20px;
}


@media only screen and (max-width:688px) {  
    .container{
        width: 100%;
        padding:0;
        margin:0;
    }
    .course-thumb img{
        width:100%;
        height:80%;
    }
    .course, .courses{
        grid-template-columns: repeat(1,1fr);
        padding-left: 10px;
    }
    .course-containe{
        flex-direction: column;
    }
} 

@media only screen and (min-width: 689px) and (max-width:991px) {
    .container{
        width: 100%;
    }
    .courses{
        grid-template-columns: repeat(2,1fr); 
    }
}